;meta[language=en]
; id      |key(hex)|key(str)| text
;
; rename this file to mod<YOUR MODNAME>.speech.csv and
; add all strings for custom voicelines like the example line below.
;
; make sure the XXXX is the string id-space of the project and nnn is unique
; for every line.
;
;211XXXXnnn|||example voiceline text
;
